---
import PageLayout from "@/layouts/Base.astro";

const meta = {
	description: "Website disclaimer",
	title: "Disclaimer",
};
---

<PageLayout meta={meta}>
	<h1 class="title mb-6 text-xl">Disclaimer</h1>
	<ul class="list-outside list-disc space-y-3 pl-5" role="list">
		<li>
			The views expressed on this site are my own and do not reflect those of any individual or
			entity with which I have been or am currently affiliated.
		</li>
		<li>Any mention of individuals or entities on this site is not an endorsement of them.</li>
		<li>Site content may be modified, removed, or otherwise altered without prior notice.</li>
		<li>
			Opinions expressed in blog posts may have changed since their original publication date.
		</li>
	</ul>
</PageLayout>
